extends layout

block content
	link(rel='stylesheet', href='/css/main.css')
	.wrapper-homepage
		.container-fluid
			main.homepage
				.media.main-media
					h1.comingsoon КОМИНГ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;СООН
