nav.nav-main
    a.nav-main__title(href='/') СЛЫШЬ
    a.nav-main__item(href='/express-albums') Быстрые Альбомы
    a.nav-main__item(href='/romantic-collection') Romantic Collection
    a.nav-main__item(href='/express-albums') Быстрые Альбомы
    a.nav-main__item(href='/express-albums') Быстрые Альбомы
    
