@font-family-base : "Helvetica Neue",Helvetica,Arial,sans-serif;
.navbar-default {
  margin-bottom: 0;
  border-radius: 0; }
  .navbar-default .active a {
    color: #0ce3ac; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }

.main-media {
  height: 833px; }

.navbar-default-bottom {
  background-color: black;
  margin-bottom: 0;
  border-radius: 0; }

.comingsoon {
  margin-top: 20px;
  margin-right: 40vw;
  font-size: 5vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white; }

.wrapper-homepage {
  background-color: black; }

.homepage {
  margin: auto;
  max-width: 1280px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("/img/qcolqLxdGqw.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.wrapper-express-albums .container-fluid {
  padding: 0 20px; }

.express-albums {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .express-albums #album-link,
  .express-albums #album-title {
    margin: 10px 0; }
  .express-albums .input-group {
    width: 70%; }
  .express-albums label {
    font-size: 1.7em;
    margin-top: 30px; }
  .express-albums button {
    margin-top: 20px;
    padding: 10px; }
  .express-albums button:hover {
    color: black; }

.express-albums-inputs {
  margin: 20px; }
