
doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=0.5')
    title= title
    script(src='src=https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.min.js')
    script(src='/js/kineograf.js')
    script(src='/js/pre1.js')
    //DON'T FORGET TO REMOVE
    //script(src="//localhost:35729/livereload.js")
    ////////////////////////
    style.
      body {padding: 0; margin: 0;} canvas {vertical-align: top; }
  body
